@import "../../global.scss";

.chat {
  .text {
    height: 6vh;

    img {
      width: 2.5vw;
      height: 2.5vw;
      cursor: pointer;
      padding: 0 0.5vw;
    }

    .setup {
      transform: rotate(180deg)
    }
  }

  .message-list {
    width: 80%;
    margin: auto;
    height: 55vh;
    overflow: scroll;
    flex-direction: column;
  }

  .submit {
    border-radius: 1rem;
    height: 6vh;
    bottom: 1px;
    position: absolute;
    text-align: left;
    width: 100%;

    input {
      width: calc(75% - 2px);
      height: 100%;
      background-color: $color2;
      border: none;
      padding: 0 2.5%;
      font-size: 1rem;
      border-left: solid 1px $color1;
    }

    button {
      background-color: $color2;
      border: none;
      font-size: 1rem;
      float: right;
      width: 20%;
      height: 100%;
      cursor: pointer;
      border-right: solid 1px $color1;

      &:hover {
        background-color: $color3;
      }
    }
  }
}
