@import "../../global.scss";

.text {
  img {
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
  }
}

.message-list {
  width: 80%;
  margin: auto;
  height: 55vh;
  overflow: scroll;
  flex-direction: column;
}

.submit {
  border-radius: 1rem;
  height: 6vh;
  bottom: 1px;
  position: absolute;
  text-align: left;
  width: 100%;

  input {
    width: 75%;
    border: solid 1px black;
    border-radius: 1rem;
    height: 100%;
    background-color: $color2;
    padding: 0 1vw;
    font-size: 1rem;
  }

  button {
    background-color: $color2;
    border: solid 1px black;
    font-size: 1rem;
    float: right;
    width: 19%;
    border-radius: 1rem;
    height: 100%;
    cursor: pointer;

    &:hover {
      background-color: $color3;
    }
  }
}
