@import "../../global.scss";

.password {
    background-color: $color2;
    height: 74vh;
    width: 60%;
    position: absolute;
    top: 0;
    right: 100%;

    .heading {
        border-right: solid 1px $color2;
        font-size: 2vw;
        text-transform: uppercase;
        background-color: $color1;
        color: whitesmoke;
        padding: 2vh 0;
    }

    .v-center {
        margin-top: 50%;
        input {
            width: 75%;
            height: 1vh;
            font-size: 1vw;
            padding: 4%;
            border: solid 1px $color2;
            background-color: whitesmoke;
        }

        .show {
            width: 90%;
            margin: auto;
            height: 40px;
        }

        .button {
            text-transform: uppercase;
            background-color: $color3;
            width: 80%;
            padding: 5% 2.5%;
            border-radius: 2.5rem;
            margin: auto;
            cursor: pointer;
        }
    }
}
