@import "../../global.scss";

.join {
  padding-top: 20vh;

  .logos {
    width: 80%;
    margin: auto;

    input {
      width: 75%;
      padding: 2%;
    }

    .img-container {
      display: block;
      width: 80%;
      margin: auto;
      margin-top: 7vh;

      img {
        background-color: whitesmoke;
        border-radius: 50%;
        padding: 5%;
        margin: 0 5%;
        height: 4vw;
        cursor: pointer;
      }
    }
  }
}
